<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mobiliario de diseño y elementos de interiores.</h2>
                <hr class="light">
                <p class="text-faded">Diseño y fabricación de muebles y carpintería de interiores, con maderas y materiales finos en alta calidad y detalle.</p>
                <a href="#" class="btn btn-default btn-xl">Inicio</a>
            </div>
        </div>
    </div>
</section>
