<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios y Proyectos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Diseño de Mobiliario</h3>
                    <p class="text-muted">Diseño de mobiliario de alta calidad con materiales finos y procesos especializados</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Fabricación de Mobiliario</h3>
                    <p class="text-muted">Fabricación de muebles de capintería de alta calidad y diseño interior en madera, acero y vidrio para proyectos de construcción o remodelación.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Diseño Personalizado</h3>
                    <p class="text-muted">Ajustado a las necesidades del cliente y sus proyectos con especial atención a la comunicación personal.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Alta cálidad y eficiencia</h3>
                    <p class="text-muted">Con atención a los detalles y control de calidad en en diseño y elaboración de productos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
